*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 25px; }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.mainContainer {
  width: 400px;
  height: 750px;
  background-color: #252525; }

.matchInfoPlaceholder {
  height: 15rem;
  background-color: #111111;
  padding: 30px;
  font-size: 1.4rem; }
  .matchInfoPlaceholder .homeMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;
    position: relative; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeTitleSeparator {
      border-left: 2px solid red; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeTitle {
      padding-left: 0.8rem; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeScore {
      position: absolute;
      right: 0;
      text-align: center;
      padding: 0.1rem  0.8rem;
      background-color: #3e3d40;
      font-size: 1.3rem; }
  .matchInfoPlaceholder .awayMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;
    position: relative; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayTitleSeparator {
      border-right: 2px solid blue; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayTitle {
      padding-right: 0.8rem;
      margin-left: 75%; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayScore {
      position: absolute;
      left: 0;
      text-align: center;
      padding: 0.1rem  0.8rem;
      background-color: #3e3d40;
      font-size: 1.3rem;
      border-left: 0.1rem solid #252525; }
  .matchInfoPlaceholder .timelinePlaceholder {
    width: 347px;
    height: 40px;
    margin-top: 5rem; }
    .matchInfoPlaceholder .timelinePlaceholder .matchTimeline {
      position: relative; }
      .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBar {
        width: 100%;
        height: 0.8rem;
        border: 0.1rem solid #3e3d40; }
        .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBar .timelineBarFill {
          width: 25%;
          height: 0.7rem;
          background-color: #1a7b2e; }
      .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBox {
        width: 5rem;
        height: 2.3rem;
        background-color: #3e3d40;
        position: absolute;
        top: -88%;
        left: 42%;
        text-align: center;
        font-size: 1.3rem; }
  .matchInfoPlaceholder .statsButtonPlaceholder .statsButton {
    float: right; }
