.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden; }
  .donut-chart .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .donut-chart .chart-center {
    position: absolute;
    border-radius: 50%; }
    .donut-chart .chart-center span {
      display: block;
      text-align: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 25px; }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.card {
  float: left;
  background: #252525;
  padding: 20px;
  margin: 0 20px 0 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.btn {
  color: white; }
  .btn:hover {
    color: #1a7b2e; }

.mainContainer {
  width: 400px;
  height: 750px;
  background-color: #252525; }

.mainFieldContainer {
  width: 100%;
  padding: 0.5rem  30px; }
  .mainFieldContainer .backgroundMainField {
    background-image: url("/img/field.png");
    background-size: cover;
    height: 230px; }

.matchInfoPlaceholder {
  height: 15rem;
  padding: 30px;
  font-size: 1.4rem; }
  .matchInfoPlaceholder .homeMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;
    position: relative; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeTitleSeparator {
      border-left: 2px solid red; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeTitle {
      padding-left: 0.8rem; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeScore {
      position: absolute;
      right: 0;
      text-align: center;
      padding: 0.1rem  0.9rem;
      background-color: #3e3d40;
      font-size: 1.3rem; }
  .matchInfoPlaceholder .awayMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;
    position: relative; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayTitleSeparator {
      border-right: 2px solid white; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayTitle {
      padding-right: 0.8rem;
      margin-left: 72%; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayScore {
      position: absolute;
      left: 0;
      text-align: center;
      padding: 0.1rem  0.8rem;
      background-color: #3e3d40;
      font-size: 1.3rem;
      border-left: 0.1rem solid #252525; }
  .matchInfoPlaceholder .timelinePlaceholder {
    width: 342px;
    height: 40px;
    margin-top: 5rem; }
    .matchInfoPlaceholder .timelinePlaceholder .matchTimeline {
      position: relative; }
      .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBar {
        width: 100%;
        height: 0.8rem;
        border: 0.1rem solid #3e3d40; }
        .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBar .timelineBarFill {
          width: 25%;
          height: 0.7rem;
          background-color: #1a7b2e; }
      .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBox {
        width: 5rem;
        height: 2.3rem;
        background-color: #3e3d40;
        position: absolute;
        top: -88%;
        left: 42%;
        text-align: center;
        font-size: 1.3rem; }
  .matchInfoPlaceholder .statsButtonPlaceholder .statsButton {
    float: right; }
    .matchInfoPlaceholder .statsButtonPlaceholder .statsButton .fas {
      text-decoration: none; }

.donut-chart.chart1 {
  width: 70px;
  height: 70px;
  background: #e1e1e1; }
  .donut-chart.chart1 .slice.one {
    clip: rect(0 70px 35px 0);
    -webkit-transform: rotate(198deg);
    transform: rotate(198deg);
    background: #ed1c24; }
  .donut-chart.chart1 .slice.two {
    clip: rect(0 35px 70px 0);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #ed1c24; }
  .donut-chart.chart1 .chart-center {
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: #252525; }
    .donut-chart.chart1 .chart-center span {
      font-size: 40px;
      line-height: 50px;
      color: #e1e1e1; }
      .donut-chart.chart1 .chart-center span:after {
        content: "30%"; }
