.donutChart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }
  .donutChart .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .donutChart .chartCenter {
    position: absolute;
    border-radius: 50%; }
    .donutChart .chartCenter span {
      display: block;
      text-align: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 25px; }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.card {
  float: left;
  background: #252525;
  padding: 10px;
  margin: 0 auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center; }

.u-margin_left-small {
  margin-left: 3rem; }

.u-margin_left-medium {
  margin: 0 0 0 3.3rem; }

.btn {
  color: white; }
  .btn:hover {
    color: #1a7b2e; }

.mainContainer {
  width: 400px;
  height: 750px;
  background-color: #252525; }

.matchInfoPlaceholder {
  height: 15rem;
  padding: 30px;
  font-size: 1.4rem; }
  .matchInfoPlaceholder .homeMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;
    position: relative; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeTitleSeparator {
      border-left: 2px solid red; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeTitle {
      padding-left: 0.8rem; }
    .matchInfoPlaceholder .homeMatchInfoPlaceholder .matchInfoHomeScore {
      position: absolute;
      right: 0;
      text-align: center;
      padding: 0.1rem  0.9rem;
      background-color: #3e3d40;
      font-size: 1.3rem; }
  .matchInfoPlaceholder .awayMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;
    position: relative; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayTitleSeparator {
      border-right: 2px solid white; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayTitle {
      padding-right: 0.8rem;
      margin-left: 72%; }
    .matchInfoPlaceholder .awayMatchInfoPlaceholder .matchInfoAwayScore {
      position: absolute;
      left: 0;
      text-align: center;
      padding: 0.1rem  0.8rem;
      background-color: #3e3d40;
      font-size: 1.3rem;
      border-left: 0.1rem solid #252525; }
  .matchInfoPlaceholder .timelinePlaceholder {
    width: 342px;
    height: 40px;
    margin-top: 5rem; }
    .matchInfoPlaceholder .timelinePlaceholder .matchTimeline {
      position: relative; }
      .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBar {
        width: 100%;
        height: 0.8rem;
        border: 0.1rem solid #3e3d40; }
        .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBar .timelineBarFill {
          width: 25%;
          height: 0.7rem;
          background-color: #1a7b2e; }
      .matchInfoPlaceholder .timelinePlaceholder .matchTimeline .timelineBox {
        width: 5rem;
        height: 2.3rem;
        background-color: #3e3d40;
        position: absolute;
        top: -88%;
        left: 42%;
        text-align: center;
        font-size: 1.3rem; }
  .matchInfoPlaceholder .statisticsButtonPlaceholder .statisticsButton {
    float: right; }
    .matchInfoPlaceholder .statisticsButtonPlaceholder .statisticsButton .fas {
      text-decoration: none; }

.mainFieldPlaceholder {
  width: 100%;
  padding: 0.5rem  30px; }
  .mainFieldPlaceholder .mainFieldBackground {
    background-image: url("/img/field.png");
    background-size: cover;
    height: 230px; }

.matchStatsPlaceholder .matchStats {
  width: 100%;
  padding: 5rem  40px;
  position: relative; }
  .matchStatsPlaceholder .matchStats .matchStatsTitles {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    text-transform: capitalize; }
    .matchStatsPlaceholder .matchStats .matchStatsTitles .matchStatsTitle {
      transition-property: font-size,line-height;
      display: table-cell;
      vertical-align: middle;
      font-size: 11px;
      line-height: 13px;
      padding-bottom: 10px; }
      .matchStatsPlaceholder .matchStats .matchStatsTitles .matchStatsTitle__left {
        transition-property: padding-right;
        padding-right: 25px; }
      .matchStatsPlaceholder .matchStats .matchStatsTitles .matchStatsTitle__right {
        transition-property: padding-right;
        padding-left: 25px; }
  .matchStatsPlaceholder .matchStats .matchStatsCharts {
    transition-property: margin-bottom;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 17px; }
    .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column__left {
        transition-property: padding-right;
        padding-right: 25px; }
      .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column__right {
        transition-property: padding-right;
        padding-left: 25px; }
      .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart1 {
        width: 45px;
        height: 45px;
        background: #e1e1e1; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart1 .slice.one {
          clip: rect(0 45px 22.5px 0);
          -webkit-transform: rotate(198deg);
          transform: rotate(198deg);
          background: #ed1c24; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart1 .slice.two {
          clip: rect(0 22.5px 45px 0);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          background: #ed1c24; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart1 .chartCenter {
          top: 7px;
          left: 7px;
          width: 31px;
          height: 31px;
          background: #252525; }
          .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart1 .chartCenter span {
            font-size: 40px;
            line-height: 31px;
            color: #e1e1e1; }
            .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart1 .chartCenter span:after {
              content: "30%"; }
      .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart2 {
        width: 45px;
        height: 45px;
        background: #ed1c24; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart2 .slice.one {
          clip: rect(0 45px 22.5px 0);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          background: #e1e1e1; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart2 .slice.two {
          clip: rect(0 22.5px 45px 0);
          -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
          background: #e1e1e1; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart2 .chartCenter {
          top: 7px;
          left: 7px;
          width: 31px;
          height: 31px;
          background: #252525; }
          .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart2 .chartCenter span {
            font-size: 40px;
            line-height: 31px;
            color: #e1e1e1; }
            .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart2 .chartCenter span:after {
              content: "60%"; }
      .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart3 {
        width: 45px;
        height: 45px;
        background: #ed1c24; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart3 .slice.one {
          clip: rect(0 45px 22.5px 0);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          background: #e1e1e1; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart3 .slice.two {
          clip: rect(0 22.5px 45px 0);
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          background: #e1e1e1; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart3 .chartCenter {
          top: 7px;
          left: 7px;
          width: 31px;
          height: 31px;
          background: #252525; }
          .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart3 .chartCenter span {
            font-size: 40px;
            line-height: 31px;
            color: #e1e1e1; }
            .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .donutChart.chart3 .chartCenter span:after {
              content: "50%"; }
      .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .statsWheelText {
        display: table;
        table-layout: fixed;
        margin: 0 auto 3rem auto;
        padding-top: 1.5rem; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .statsWheelText__home {
          display: table-cell; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .statsWheelText__seperator {
          display: table-cell; }
        .matchStatsPlaceholder .matchStats .matchStatsCharts .matchStatsCharts-Column .statsWheelText__away {
          display: table-cell; }
  .matchStatsPlaceholder .matchStats .matchStatsBars {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 13px; }
    .matchStatsPlaceholder .matchStats .matchStatsBars .matchStatsBarsColumn {
      display: table-cell;
      vertical-align: top;
      text-align: center; }
    .matchStatsPlaceholder .matchStats .matchStatsBars .footballStatsBar__MiniBarSurround {
      transition-property: width;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 120px;
      margin: 5px;
      height: 6px;
      background-color: #ed1c24; }
    .matchStatsPlaceholder .matchStats .matchStatsBars .footballStatsBar__MiniBarFill {
      width: 35.2941%;
      background-color: #f7f7f7;
      position: absolute;
      display: block;
      width: 50%;
      height: 6px;
      z-index: 20; }
