@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utility";

@import "components/button";

@import "modules/mainContainer";
@import "modules/mainFieldContainer";
@import "modules/matchInfoPlaceholder";
@import "modules/matchInfoContainer";