*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}

html{
  //this defines  what 1em is 
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 25px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.card {
  float: left;
  background: #252525;
  padding: 10px;
  margin: 30px 15px 0 15px;
}