body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color:$color-white;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
}