.mainContainer {
  width: 400px;
  height: 750px;
  background-color: $color-primary;

}

.matchInfoPlaceholder {
  height: 15rem;
  background-color: #111111;
  padding: 30px;
  font-size: 1.2rem;

  .homeMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;

    .matchInfoHomeTitleSeparator {
      color: red;
      border-left: 2px solid red;
    }
    
    .matchInfoHomeTitle {
     padding-left: 0.8rem;
    }
  
    .matchInfoHomeScore {
      margin-left: 9.9rem;
      text-align: center;
      height: 20px;
      width: 20px;
      background-color: $color-grey;
    }
  
  }
  
  .awayMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;

    .matchInfoAwayTitleSeparator {
      border-right: 2px solid blue;
    }
    
    .matchInfoAwayTitle {
     padding-right: 1rem;
    }
  
    .matchInfoAwayScore {
      margin-right: 10.2rem;
      text-align: center;
      height: 20px;
      width: 20px;
      background-color: $color-grey;
    }
  
  }
}
