
.matchInfoPlaceholder {
  height: 15rem;
  // background-color: #111111;
  padding: 30px 30px 10px 30px;
  font-size: 1.4rem;

  .homeMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;
    position: relative;

    .matchInfoHomeTitleSeparator {
      border-left: 2px solid red;
    }
    
    .matchInfoHomeTitle {
     padding-left: 0.8rem;
    }
  
    .matchInfoHomeScore {
      position: absolute; right: 0;
      text-align: center;
      padding: 0.1rem  0.9rem;
      background-color: $color-grey;
      font-size: 1.3rem;
    }
  
  }
  
  .awayMatchInfoPlaceholder {
    display: flex;
    flex-direction: row;
    position: relative;

    .matchInfoAwayTitleSeparator {
      border-right: 2px solid white;
    }
    
    .matchInfoAwayTitle {
     padding-right: 0.8rem;
     margin-left: 72%;
    }
  
    .matchInfoAwayScore {
      position: absolute; left: 0;
      text-align: center;
      padding: 0.1rem  0.8rem;
      background-color: $color-grey;
      font-size: 1.3rem;
      border-left: 0.1rem solid $color-primary;
    }
  
  }

  .timelinePlaceholder {
    width: 342px;
    height: 40px;
    margin-top: 5rem;
    

    .matchTimeline {
      position: relative;

      .timelineBar {
        width: 100%;
        height: 0.8rem;
        border: 0.1rem solid $color-grey;

        .timelineBarFill {
          width: 25%;
          height: 0.7rem;
          background-color: $color-green;
        }
      
      }
        
      .timelineBox {
        width: 5rem;
        height: 2.3rem;
        background-color: $color-grey;
        position: absolute;
        top: -88%;
        left: 42%;
        text-align: center;
        font-size: 1.3rem;
      }
    }
  }
}

        

